#logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  width: 100%;

}
.logo{
  height: 10vh;
}

#back-title{
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 50vh;
  padding-top: 80px ;
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}



#back-title h1{
  margin-left: 60px;
  font-size: 40px;
  font-weight: bold;
}


#back-title p{
  margin-left: 60px;
  max-width: 60vw;
  font-size: 15px;
}

#back-title .sub-title{
  margin-left: 60px;
  max-width: 60vw;
  font-size: 17px;
  
}

main {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: #ffffff;
}

main nav{
  padding-left: 60px;
  
}
main nav h3{
  padding-top: 20px;
  
font-weight: bolder;
}

main nav ul{
  display: flex;
  padding-bottom: 20px;
}

main nav ul li{
  padding: 5px 30px;
  margin-top: 20px;
  border: solid 1px #ccc;
  border-radius: 15px;

  text-align: center;
}

.temp{
  margin-left: 20px;
  font-family: 'Poppins', sans-serif;
}

.temporadas{
  font-family: 'Poppins', sans-serif;
  background-image: url("../img/imagemCard.png");
  background-repeat: repeat;
  background-size: cover;
  width: 70%;
  height: 200px;
  margin-left: 60px;
  padding-top: 50px;
  padding-left: 35px;
  margin-top: 30px;
}
.card-title {
height: 60%;
}
.card-title h2{
  font-size: 35px;
  margin-bottom: 10px;
}

.card-sub{
  display: flex;
  justify-content: space-between;
  height: 40%;
 
}

.card-sub p{
  max-width: 70%;
}

.card-sub span{
  margin-right: 50px;
}